* {
    scroll-behavior: smooth;
}

.bod{
       justify-content: center;
       background-color:#41B3A3;
	   font-family: Arial, Helvetica, sans-serif;
}

.title{
     
	 text-align:center;
   font-family: 'Koulen', cursive;
   font-size: 65px;
   color:white;
   text-shadow: 2px 2px 8px #FF0000;
}



.img1, .img2{
   
   max-width: 150px;   
}


.banner{
 margin:auto;
 margin-top:5%;
 background-color:white;
 height:300px;
 padding: 3% 0;
-webkit-filter: drop-shadow(5px 5px 5px #222);
 filter: drop-shadow(5px 5px 5px #222);


}
/*.container {
      
      position: relative;
      text-align:center;
      padding: 12px;
      margin-bottom: 6px;
      height: 350px;
      width: 250px;
      -webkit-filter: drop-shadow(5px 5px 5px #222);
      filter: drop-shadow(5px 5px 5px #222);
    }
    .container:before {
      content: "";
      position:absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 51%;
      background:white;
      transform: skew(0deg, 6deg);
    }
    .container:after {
      content: 'lmao';
      position:absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 50%;
      background: white;
      transform: skew(0deg, -6deg);
    }*/
.row{

	position: absolute;
	position:relative;
}
.row1{

    position: relative;
    float:left;
   margin-left:25%;

}

 .row2{
      
     position:relative;
     float:right;
   margin-left:60%;
	top:-185px;
    
    
}	

.button{
   
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top:100px;
   color: white;
}

.text{
   
   margin-top:6%;
}


.footer{
   /*height: 100%;
   width: 100%;*/
   margin-top:-17%; 
   padding: 3% 0;
  position:;
   background:#E27D60;
   color: #ffffff;
   position: center;
   margin: auto;
    min-height: 45vh;

 }

@media only screen (max-width: 1920px){
    .bod, .row, .button,.footer,.banner{
     justify-content: center;
     position:center;
     font-size: 65px;

    
    }
  
}

@media only screen (max-width: 390px){
    .bod, .row, .button,.footer,.banner{
     justify-content: center;
     position:center;
     font-size: 65px;
     padding-right:200px;

    
    }
  
}

@media only screen (max-width: 768px){
    .bod, .row, .button,.footer,.banner{
     justify-content: center;
     position:center;
     font-size: 65px;
      padding-right:200px;

    
    }
  
}

@media only screen (max-width: 1024px){
    .bod, .row, .button,.footer,.banner{
     justify-content: center;
     position:center;
     font-size: 65px;
      padding-right:200px;

    
    }
  
}